@media(max-width:680px){
    main{
        grid-template-areas: "header"
                             "plan"
                             "about";
        grid-template-columns: 315px;
        grid-template-rows: 265px repeat(2,228px);
    }

    .container-info{
        padding: 2.6rem 2.3rem;
    }

    .container-info .title{
        font-size: 2rem;
    }

    .container-info .subtitle{
        font-size: 1.5rem;
    }

    .container-info .info{
        font-size: 1.4rem;
        margin-top: 1.9rem;
    }

    .container-plan{
        border-radius: 0;
        padding: 2.7rem;
    }

    .container-about{
        padding: 2.7rem;
    }

    .container-about .description-list{
        margin-top: 1.6rem;
    }
}